@model TrungTamYenMy.Models.TinTuc

@{
    ViewBag.Title = "ChinhSua";
    Layout = "~/Areas/Admin/Views/Shade/_Layout.cshtml";
}

@section scripts{
    <script>
        $('#btnSelectImage').on('click', function (e) {
            e.preventDefault();
            var finder = new CKFinder();
            finder.selectActionFunction = function (url) {
                $('#txtImage').val(url);
            };
            finder.popup();
        });

        var editor = CKEDITOR.replace('txtMoTa', {
            customConfig: '/Assets/admin/js/plugins/ckeditor/config.js'
        });

        var editor1 = CKEDITOR.replace('txtNoiDung', {
            customConfig: '/Assets/admin/js/plugins/ckeditor/config.js'
        });
    </script>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <br/>
        <h4>Sửa tin tức</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.MaTinTuc, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaTinTuc, new {htmlAttributes = new {@class = "form-control", @disabled = "disabled" } })
                @Html.Hidden("MaTinTuc",Model.MaTinTuc)
                @Html.ValidationMessageFor(model => model.MaTinTuc, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TieuDe, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.TieuDe, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.TieuDe, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MetaTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MetaTitle, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MetaTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mota, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Mota, new { htmlAttributes = new { @class = "form-control" }, @id = "txtMoTa" })
                @Html.ValidationMessageFor(model => model.Mota, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HinhAnh, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.HinhAnh, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.HinhAnh, "", new {@class = "text-danger"})
            </div>
        </div>

        
        <div class="form-group">
            @Html.LabelFor(model => model.NoiDung, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
              @Html.TextAreaFor(model => model.NoiDung, new { htmlAttributes = new { @class = "form-control" }, @id = "txtNoiDung" })
            @*<textarea id="txtNoiDung" name="NoiDung" class="form-control"></textarea>*@
            @Html.ValidationMessageFor(model => model.NoiDung, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NguoiViet, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.NguoiViet, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.NguoiViet, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NguoiDang, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.NguoiDang, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.NguoiDang, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayDang, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                <input type="date" class="form-control" name="NgayDang"/>
                @Html.ValidationMessageFor(model => model.NgayDang, "", new {@class = "text-danger"})
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(model => model.MaLoaiTin, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("MaLoaiTin", null, new {@class = "form-control"})
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.TopHot, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" class="form-control" name="TopHot" />
                @Html.ValidationMessageFor(model => model.TopHot, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.TrangThai, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model =>model.TrangThai, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.TrangThai, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-success"/>
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Quay lại danh sách tin tức", "DsTinTuc")
</div>
<br />
<br />