@model TrungTamYenMy.Models.HocVien

@{
    ViewBag.Title = "Xoa";
    Layout = "~/Areas/Admin/Views/Shade/_Layout.cshtml";
}

<div>
    <br/>
    <h4>Bạn có muốn xóa học viên này?</h4>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaHV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHV)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.TenHV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHV)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.NgaySinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgaySinh)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.QueQuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QueQuan)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.SoDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDT)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.MaLop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLop)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-lg-offset-1">
            <input type="submit" value="Xóa học viên" class="btn btn-success"/> |
            @Html.ActionLink("Quay lại", "DsHocVien")
        </div>
    }
</div>
