@model TrungTamYenMy.Models.GiaoVien

@{
    ViewBag.Title = "Xoa";
    Layout = "~/Areas/Admin/Views/Shade/_Layout.cshtml";
}

<div>
    <br/>
    <h3>Bạn có thực sự muốn xóa giáo viên này?</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaGV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaGV)
        </dd>
        <br/>
        <dt>
            @Html.DisplayNameFor(model => model.TenGV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenGV)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Anh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anh)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.ThongTin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongTin)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.QueQuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QueQuan)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.SoNamCongTac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoNamCongTac)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.NoiCongTac)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiCongTac)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.SoDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDT)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Luong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luong)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.MaLop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLop)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color col-lg-offset-1">
            <input type="submit" value="Xóa giáo viên" class="btn btn-success" /> |
            @Html.ActionLink("Quay lại", "DsGiaoVien")
        </div>
    }
</div>
